


*,
:active,
:focus {
    outline: none
}
::selection {
    background: transparent;
    color: #a6c2da;
    outline: none
}
::-moz-selection {
    background: transparent;
    color: #a6c2da;
    outline: none
}
html {
    font-size: 18px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
@media (max-width: 1024px) {
    html {
        font-size: 16px
    }
}
@media (max-width: 414px) {
    html {
        font-size: 14px
    }
}
body {
    font-family: Sources San Pro;
    box-sizing: border-box;
    line-height: 25px;
    margin: 0;
    padding: 30px;
    transition-delay: .35s;
    transition: opacity .15s ease-in
}
@media (max-width: 1024px) {
    body {
        line-height: 23px
    }
}
@media (max-width: 736px) {
    body {
        line-height: 21px;
        background-color: #ffffff;
        padding: 15px 20px 40px
    }
}
a,
a:active,
a:focus {
    color: #000;
    text-decoration: none;
    transition: color .35s
}
p {
    margin-top: 0
}
p:last-child {
    margin-bottom: 0
}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}
img,
svg {
    max-width: 100%;
    height: auto
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0
}
.h1,
h1 {
    font-size: 80px;
    line-height: 85px
}


.container {
    margin: 0 auto;
    max-width: 1500px
}
@media (max-width: 1500px) {
    .container {
        max-width: calc(100% - 80px)
    }
}
@media (max-width: 1024px) {
    .container {
        max-width: calc(100% - 60px)
    }
}
@media (max-width: 736px) {
    .container {
        max-width: none
    }
}
.is-hidden {
    display: none!important
}
.is-invisible {
    visibility: hidden!important
}

.section--fullscreen {
    height: calc(100vh - 140px);
    min-height: 500px;
    position: relative
}
@media (max-width: 736px) {
    .section--fullscreen {
        height: auto;
        min-height: 0
    }
}
.section__title {
    margin: 90px 0;
    text-align: center
}
@media (max-width: 1024px) {
    .section__title {
        margin: 40px 0 50px
    }
}



.header__top {
    box-sizing: border-box;
    padding: 20px 30px 0;
    position: relative;
    text-align: center;
    z-index: 3
}
@media (max-width: 736px) {
    .header__top {
        padding: 0
    }
}
.header__name {
    left: 60px;
    position: fixed;
    top: 50px
}
@media (max-width: 736px) {
    .header__name {
        left: 0;
        position: absolute;
        top: 0
    }
}
.header__name a {
    color: #000
}
.header__name span {
    font-size: 135px;
    line-height: 55px
}
@media (max-width: 736px) {
    .header__name span {
        font-size: 85px;
        line-height: 65px
    }
}



.top-container {
    text-align: center
}


body {
    position: relative
}
body:before {
    background-color: #000;
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    will-change: transform;
    z-index: 9999
}
body.loading:before {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

@-webkit-keyframes bucket {
    0% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
}
@keyframes bucket {
    0% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
}
@-webkit-keyframes float {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    50% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    25% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
@keyframes wiggle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    25% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
@-webkit-keyframes parallax {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    99% {
        opacity: 0;
        -webkit-transform: translate3d(100vw, 0, 0);
        transform: translate3d(100vw, 0, 0)
    }
    to {
        -webkit-transform: translate3d(-100vw, 0, 0);
        transform: translate3d(-100vw, 0, 0)
    }
}
@keyframes parallax {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    99% {
        opacity: 0;
        -webkit-transform: translate3d(100vw, 0, 0);
        transform: translate3d(100vw, 0, 0)
    }
    to {
        -webkit-transform: translate3d(-100vw, 0, 0);
        transform: translate3d(-100vw, 0, 0)
    }
}
@-webkit-keyframes parallax--in {
    0% {
        -webkit-transform: translate3d(-100vw, 0, 0);
        transform: translate3d(-100vw, 0, 0)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes parallax--in {
    0% {
        -webkit-transform: translate3d(-100vw, 0, 0);
        transform: translate3d(-100vw, 0, 0)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@-webkit-keyframes parallax--out {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        -webkit-transform: translate3d(100vw, 0, 0);
        transform: translate3d(100vw, 0, 0)
    }
}
@keyframes parallax--out {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        -webkit-transform: translate3d(100vw, 0, 0);
        transform: translate3d(100vw, 0, 0)
    }
}
@media (min-width: 769px) {
    [data-animation-delay="2"] {
        transition-delay: .25s!important
    }
    [data-animation-delay="3"] {
        transition-delay: .5s!important
    }
    [data-animation-delay="4"] {
        transition-delay: .75s!important
    }
    [data-animation-delay="5"] {
        transition-delay: 1s!important
    }
    [data-animation~=show-in-view] {
        -webkit-backface-visibility: hidden;
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
        transition: opacity .75s, visibility .75s, -webkit-transform .75s;
        transition: transform .75s, opacity .75s, visibility .75s;
        transition: transform .75s, opacity .75s, visibility .75s, -webkit-transform .75s;
        will-change: opacity, transform
    }
    [data-animation="show-in-view animate"] {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
.button {
    font-family: Sources San Pro;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    position: relative
}
@media (max-width: 1500px) {
    .button {
        font-size: 12px;
        line-height: 20px
    }
}
@media (max-width: 736px) {
    .button {
        font-size: 12px;
        line-height: 20px
    }
}
.button:after {
    background-color: #000;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    transition: background-color .35s
}
.button:hover {
    color: #322dd0
}
.button:hover:after {
    background-color: #322dd0
}
.button-circle {
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 45px;
    position: relative;
    width: 45px
}
.button-circle:before {
    content: "\E987";
    font-family: icomoon!important;
    font-size: 20px;
    line-height: 1;
    transition: left .35s;
    will-change: left
}
.button-circle:after,
.button-circle:before {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}
.button-circle:after {
    background-color: #000;
    content: "";
    display: block;
    height: 1px;
    transition: width .35s;
    width: 0;
    will-change: width
}
.button-circle:hover:before {
    left: calc(50% + 42px)
}
.button-circle:hover:after {
    width: 200%
}
.down-container {
    bottom: 0;
    left: 0;
    padding: 0 30px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 3
}
@media (max-width: 1024px) {
    .down-container {
        display: none
    }
}
.down {
    color: #322dd0;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 2px;
    transition: opacity .25s, visibility .25s;
    will-change: opacity, visibility
}
.down:hover {
    -webkit-animation: float 1s ease infinite;
    animation: float 1s ease infinite
}
.down.animate {
    opacity: 0;
    visibility: hidden
}
.down span {
    display: block;
    text-align: center
}
.down .icon {
    font-size: 18px
}
.back {
    /*font-family: Sources San Pro;*/
    cursor: pointer;
    font-size: 12px;
    left: 0;
    letter-spacing: 2px;
    line-height: 20px;
    position: absolute;
    top: 0;
    z-index: 1
}
.back,
.back span {
    display: inline-block
}
.back span {
    position: relative;
    transition: color .35s
}
.back span:after {
    background-color: #000;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    transition: background-color .35s
}


::-webkit-input-placeholder {
    color: #000
}
::-moz-placeholder {
    color: #000
}
:-ms-input-placeholder {
    color: #000
}
:-moz-placeholder {
    color: #000
}
button,
input,
select,
textarea {
    -webkit-appearance: none;
    /*font-family: Sources San Pro;*/
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    background: none;
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
@media (max-width: 1500px) {
    button,
    input,
    select,
    textarea {
        font-size: 12px;
        line-height: 20px
    }
}
@media (max-width: 736px) {
    button,
    input,
    select,
    textarea {
        font-size: 12px;
        line-height: 20px
    }
}

@media (max-width: 1500px) {
    .gform_confirmation_message {
        font-size: 12px;
        line-height: 20px
    }
}
@media (max-width: 736px) {
    .gform_confirmation_message {
        font-size: 12px;
        line-height: 20px
    }
}

.slider--gallery {
    margin-left: 16.66667%;
    margin-right: 8.33333%
}
@media (max-width: 1024px) {
    .slider--gallery {
        margin-left: 8.33333%
    }
}
@media (max-width: 736px) {
    .slider--gallery {
        margin-left: 0;
        margin-right: 0
    }
}
.slider--gallery .slide {
    max-height: 700px
}
@media (max-width: 1500px) {
    .slider--gallery .slide {
        max-height: 470px
    }
}
.slider--gallery .slide img {
    width: 100%
}
.slider--gallery .slick-next,
.slider--gallery .slick-prev {
    background-color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    text-align: center
}
.slider--gallery .slick-next:before,
.slider--gallery .slick-prev:before {
    display: inline-block
}
.slider--gallery .slick-next:after,
.slider--gallery .slick-prev:after {
    content: ""
}
.slider--gallery .slick-prev {
    left: -22.5px
}
@media (max-width: 736px) {
    .slider--gallery .slick-prev {
        left: 25px;
        top: 100%
    }
}
.slider--gallery .slick-prev:hover:after {
    content: ""
}
.slider--gallery .slick-next {
    right: -22.5px
}
@media (max-width: 736px) {
    .slider--gallery .slick-next {
        right: auto;
        left: 80px;
        top: 100%
    }
}
.slider--gallery .slick-next:hover:after {
    content: ""
}
.slider--gallery .slick-dots {
    bottom: 50%;
    display: inline-block;
    left: 108.33333%;
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0);
    width: auto
}
.slider--gallery .slick-dots li {
    display: block;
    height: auto;
    margin: 0;
    width: auto
}
.slider--gallery .slick-dots li button {
    color: #000;
    font-size: 12px
}
.slider--gallery .slick-dots li button:before {
    content: "0"
}
.slider--gallery .slick-dots li.slick-active button,
.slider--gallery .slick-dots li.slick-active button:before {
    color: #322dd0
}


.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.slick-list,
.slick-slider {
    position: relative;
    display: block
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}
.slick-list:focus {
    outline: none
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}
.slick-track:after,
.slick-track:before {
    content: "";
    display: table
}
.slick-track:after {
    clear: both
}
.slick-loading .slick-track {
    visibility: hidden
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}
[dir=rtl] .slick-slide {
    float: right
}
.slick-slide img {
    display: block
}
.slick-slide.slick-loading img {
    display: none
}
.slick-slide.dragging img {
    pointer-events: none
}
.slick-initialized .slick-slide {
    display: block
}
.slick-loading .slick-slide {
    visibility: hidden
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}
.slick-arrow.slick-hidden {
    display: none
}
.slick-next,
.slick-prev {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 1
}
.slick-prev {
    left: 0
}
[dir=rtl] .slick-prev {
    left: auto;
    right: 0
}
.slick-prev:before {
    content: "\E926"
}
[dir=rtl] .slick-prev:before {
    content: "\E987"
}
.slick-next {
    right: 0
}
[dir=rtl] .slick-next {
    left: 0;
    right: auto
}
.slick-next:before {
    content: "\E987"
}
[dir=rtl] .slick-next:before {
    content: "\E926"
}
.slick-dots {
    position: absolute;
    bottom: 0;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%
}


.page--home .section--hero {
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0
}
.page--home .section--hero .slide__circle {
    background-color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    height: 535px;
    left: 50%;
    margin-left: -267.5px;
    margin-top: -267.5px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out;
    width: 535px;
    z-index: 2
}
@media (max-width: 1500px) {
    .page--home .section--hero .slide__circle {
        height: 380px;
        margin-left: -190px;
        margin-top: -190px;
        width: 380px
    }
}
@media (max-width: 736px) {
    .page--home .section--hero .slide__circle {
        height: 225px;
        margin-left: -112.5px;
        margin-top: -112.5px;
        width: 225px
    }
}
@media (max-width: 1024px) {
    .page--home .has-margin {
        margin-top: 110vh
    }
}
.page--home .section--2 {
    box-sizing: border-box;
    padding-bottom: 60px
}
@media (max-width: 1024px) {
    .page--home .section--2 {
        padding-bottom: 125px
    }
}
.page--home .section--4 {
    margin-top: -200px
}
@media (max-width: 1500px) {
    .page--home .section--4 {
        margin-top: -100px
    }
}
@media (max-width: 1024px) {
    .page--home .section--4 {
        margin-bottom: 125px;
        margin-top: 125px
    }
}
@media (max-width: 736px) {
    .page--home .section--4 {
        margin-bottom: 300px;
        margin-top: 125px
    }
}
.page--home .section--6 {
    margin: -100px 0
}
@media (max-width: 1024px) {
    .page--home .section--6 {
        margin: 130px 0 -100px
    }
}
@media (max-width: 736px) {
    .page--home .section--6 {
        margin: 225px 0 160px
    }
}
.slider--home {
    height: 100%;
    z-index: 2
}
.slider--home .slide__contents {
    box-sizing: border-box;
    height: 100vh;
    margin-left: 8.33333%;
    margin-right: 8.33333%;
    min-height: 500px;
    position: relative
}
@media (max-width: 1024px) {
    .slider--home .slide__contents {
        min-height: 750px;
        padding-bottom: 100px
    }
}
@media (max-width: 736px) {
    .slider--home .slide__contents {
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
        min-height: 650px
    }
}
.slider--home .slide__left {
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    z-index: 4
}
@media (max-width: 1024px) {
    .slider--home .slide__left {
        top: 100%;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}
.slider--home .slide__titles {
    position: relative
}
.slider--home .slide__title {
    font-family: Sources Sans Pro, Georgia, serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 85px;
    overflow: hidden
}
@media (max-width: 1500px) {
    .slider--home .slide__title {
        font-size: 50px;
        line-height: 55px
    }
}
@media (max-width: 736px) {
    .slider--home .slide__title {
        font-size: 30px;
        line-height: 35px
    }
}
.slider--home .slide__title span {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s
}
.slider--home .slide__link {
    bottom: -50px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity .5s
}
@media (max-width: 1024px) {
    .slider--home .slide__link {
        margin-top: 40px;
        position: static
    }
}
@media (max-width: 736px) {
    .slider--home .slide__link {
        margin-top: 30px
    }
}
.slider--home .slide__right {
    left: 41.66667%;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
    z-index: 3
}
@media (max-width: 1024px) {
    .slider--home .slide__right {
        left: 50%;
        right: auto;
        -webkit-transform: translate3d(-40%, -40%, 0);
        transform: translate3d(-40%, -40%, 0)
    }
}
@media (max-width: 736px) {
    .slider--home .slide__right {
        left: 50%;
        width: 225px
    }
}
.slider--home .slide__music {
    -webkit-animation: parallax--out 1s ease-in;
    animation: parallax--out 1s ease-in;
    bottom: 45%;
    pointer-events: none;
    position: absolute;
    right: 15%;
    will-change: transform;
    z-index: 3
}
@media (max-width: 1024px) {
    .slider--home .slide__music {
        width: 100px
    }
}
@media (max-width: 736px) {
    .slider--home .slide__music {
        width: 55px
    }
}

.slider--home .slide__orange {
    -webkit-animation: parallax--out 1s ease-in;
    animation: parallax--out 1s ease-in;
    bottom: 45%;
    pointer-events: none;
    position: absolute;
    right: 0.2%;
    will-change: transform;
    z-index: 3
}
@media (max-width: 1024px) {
    .slider--home .slide__orange {
        width: 100px
    }
}
@media (max-width: 736px) {
    .slider--home .slide__orange{
        width: 55px
    }
}

.slider--home .slide__tomato {
    -webkit-animation: parallax--out 1s ease-in;
    animation: parallax--out 1s ease-in;
    bottom: 30%;
    left: -10%;
    pointer-events: none;
    position: absolute;
    will-change: transform;
    z-index: 2
}
@media (max-width: 1024px) {
    .slider--home .slide__tomato {
        width: 55px
    }
}
@media (max-width: 736px) {
    .slider--home .slide__tomato{
        width: 30px
    }
}

.slider--home .slide__rainbow {
    -webkit-animation: parallax--out 1s ease-in;
    animation: parallax--out 1s ease-in;
    bottom: 30%;
    pointer-events: none;
    position: absolute;
    right: 10%;
    will-change: transform;
    z-index: 1
}
@media (max-width: 1024px) {
    .slider--home .slide__rainbow {
        width: 100px
    }
}
@media (max-width: 736px) {
    .slider--home .slide__rainbow {
        width: 55px
    }
}
.slider--home .slide__cloud {
    -webkit-animation: parallax--out 1s ease-in;
    animation: parallax--out 1s ease-in;
    bottom: 30%;
    left: 5%;
    pointer-events: none;
    position: absolute;
    will-change: transform;
    z-index: 1
}
@media (max-width: 1024px) {
    .slider--home .slide__cloud {
        width: 55px
    }
}
@media (max-width: 736px) {
    .slider--home .slide__cloud {
        width: 30px
    }
}
.slider--home .slide__image {
    -webkit-animation: parallax--out 1s ease-in;
    animation: parallax--out 1s ease-in;
    display: inline-block;
    line-height: 0;
    pointer-events: none;
    position: relative;
    will-change: transform;
    z-index: 2
}
.slider--home .slide__background {
    left: 8.33333%;
    max-height: 420px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 8.33333%;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}
@media (max-width: 1024px) {
    .slider--home .slide__background {
        left: 0;
        max-height: 225px;
        right: 0
    }
}
@media (max-width: 736px) {
    .slider--home .slide__background {
        margin: 0 auto;
        max-height: 120px
    }
}
.slider--home .slide__background img {
    width: 100%
}
.slider--home .slick-current .slide__title span {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition-delay: 2.5s
}
@media (max-width: 1024px) {
    .slider--home .slick-current .slide__title span {
        transition-delay: .35s
    }
}
.slider--home .slick-current .slide__title:nth-child(2) span {
    transition-delay: 2.7s
}
@media (max-width: 1024px) {
    .slider--home .slick-current .slide__title:nth-child(2) span {
        transition-delay: .35s
    }
}
.slider--home .slick-current .slide__title:nth-child(3) span {
    transition-delay: 2.9s
}
@media (max-width: 1024px) {
    .slider--home .slick-current .slide__title:nth-child(3) span {
        transition-delay: .35s
    }
}
.slider--home .slick-current .slide__link {
    opacity: 1;
    transition-delay: 2.7s
}
.slider--home .slick-current .slide__music {
    -webkit-animation: parallax--in 2.85s ease-out;
    animation: parallax--in 2.85s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.slider--home .slick-current .slide__rainbow{
    -webkit-animation: parallax--in 2.85s ease-out;
    animation: parallax--in 2.85s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
.slider--home .slick-current .slide__orange {
    -webkit-animation: parallax--in 2.85s ease-out;
    animation: parallax--in 2.85s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
.slider--home .slick-current .slide__cloud {
    -webkit-animation: parallax--in 2.5s ease-out;
    animation: parallax--in 2.5s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.slider--home .slick-current .slide__tomato {
    -webkit-animation: parallax--in 2.5s ease-out;
    animation: parallax--in 2.5s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
.slider--home .slick-current .slide__image {
    -webkit-animation: parallax--in 2s ease-out;
    animation: parallax--in 2s ease-out
}
.slider--home .slick-current .slide__circle {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition-delay: 1.5s
}
.slider--home .slick-next,
.slider--home .slick-prev {
    background-color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    height: 535px;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    width: 535px
}
@media (max-width: 1500px) {
    .slider--home .slick-next,
    .slider--home .slick-prev {
        height: 323px;
        width: 323px
    }
}
.slider--home .slick-prev {
    left: -425px
}
@media (max-width: 1500px) {
    .slider--home .slick-prev {
        left: -250px
    }
}
.slider--home .slick-prev:before {
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    z-index: 1
}
.slider--home .slick-prev:after {
    background-color: #000;
    content: "";
    display: block;
    height: 1px;
    right: 43px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
    transition: width .35s;
    width: 0;
    will-change: width
}
.slider--home .slick-prev:hover {
    -webkit-transform: translate(30px, -50%);
    -ms-transform: translate(30px, -50%);
    transform: translate(30px, -50%)
}
.slider--home .slick-prev:hover:after {
    width: 75px
}
.slider--home .slick-next {
    right: -425px
}
@media (max-width: 1500px) {
    .slider--home .slick-next {
        right: -250px
    }
}
.slider--home .slick-next:before {
    left: 30px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    z-index: 1
}
.slider--home .slick-next:after {
    background-color: #000;
    content: "";
    display: block;
    height: 1px;
    left: 43px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0);
    transition: width .35s;
    width: 0;
    will-change: width
}
.slider--home .slick-next:hover {
    -webkit-transform: translate(-30px, -50%);
    -ms-transform: translate(-30px, -50%);
    transform: translate(-30px, -50%)
}
.slider--home .slick-next:hover:after {
    width: 75px
}
.slider--home .slick-dots {
    bottom: 50%;
    display: inline-block;
    right: 15%;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    width: auto
}
@media (max-width: 736px) {
    .slider--home .slick-dots {
        right: 20px
    }
}
.slider--home .slick-dots li {
    display: block;
    height: auto;
    margin: 0;
    width: auto
}
.slider--home .slick-dots li button {
    color: #000;
    font-size: 12px
}
.slider--home .slick-dots li button:before {
    content: "0"
}
.slider--home .slick-dots li.slick-active button,
.slider--home .slick-dots li.slick-active button:before {
    color: #322dd0
}
.home-2 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 41.66667%;
    margin-right: 16.66667%
}
@media (max-width: 1500px) {
    .home-2 {
        margin-left: 33.33333%;
        margin-right: 8.33333%
    }
}
@media (max-width: 1024px) {
    .home-2 {
        margin-left: 16.66667%;
        margin-right: 0
    }
}
@media (max-width: 736px) {
    .home-2 {
        margin-left: auto;
        margin-right: auto;
        max-width: 414px
    }
}
.home-2__texts {
    margin-right: -20%;
    position: relative;
    width: 60%;
    z-index: 1
}
@media (max-width: 736px) {
    .home-2__texts {
        margin-right: 0;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        width: 100%
    }
}
.home-2__text {
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 40px;
    margin-top: 10px
}
@media (max-width: 1500px) {
    .home-2__text {
        font-size: 24px;
        line-height: 30px
    }
}
@media (max-width: 736px) {
    .home-2__text {
        font-size: 20px;
        line-height: 26px
    }
}
.home-2__images {
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-left: 20%;
    position: relative;
    width: 60%
}
@media (max-width: 736px) {
    .home-2__images {
        margin-left: 16.66667%;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        width: 100%
    }
}
.home-2__images .rect {
    position: absolute;
    right: 0;
    top: 50px
}
.home-2__images .lines {
    bottom: -30px;
    position: absolute;
    right: -50px
}
@media (max-width: 1024px) {
    .home-2__images .lines {
        right: 0
    }
}
@media (max-width: 736px) {
    .home-2__images .lines {
        bottom: 0
    }
}
.home-2__image {
    position: relative;
    z-index: 1
}
.home-3 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 8.33333%;
    margin-right: 50%
}

@media (max-width: 1500px) {
    .h1,
    h1 {
        font-size: 50px;
        line-height: 55px
    }
    .h2,
    h2 {
        font-size: 24px;
        line-height: 30px
    }
    .h3,
    h3 {
        font-size: 40px;
        line-height: 50px
    }
    .h4,
    h4 {
        font-size: 16px;
        line-height: 25px
    }
    .h5,
    h5 {
        font-size: 12px;
        line-height: 20px
    }
}
@media (max-width: 414px) {
    .h1,
    h1 {
        font-size: 30px;
        line-height: 35px
    }
    .h2,
    h2 {
        font-size: 20px;
        line-height: 26px
    }
    .h3,
    h3 {
        font-size: 27px;
        line-height: 36px
    }
    .h4,
    h4 {
        font-size: 14px;
        line-height: 22px
    }
    .h5,
    h5 {
        font-size: 12px;
        line-height: 20px
    }
}

.side-nav {
    color:#FFFFFF;
}
a:hover
{
  color: #FED1BF;
}

